.containerCategorias{
    height: 180px;
}

.linhaCategorias img{
    height: 180px;
}

.imgCategory{
    height: 180px;
}
p {
    margin-top: 2%;
    color: black;
}

#sectionCategorias{
    padding: 0px
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 14px;
    font-weight: 900;
    color: darkslategray;
}

.displayFlexInlineList{
    display: "flex";
    justify-content: center;
}

.hovered:hover{
    transition: all 0.3s;
    border-radius: 10px;
}
.hovered{
    transition: all 0.3s;
    background-color: transparent;
    color: ghostwhite;
}