.titlePageListProducts{
    text-align: center;
    font-weight: 900;
}

#tabelaProdutos{
    margin-top: 2%;
}

.containerParametros
{
    padding: 15px;
    background-color: lightgray;
    border: 1px solid darkslategray;
    border-radius: 5px;
}


.painelAddQuantity
{
    padding: 15px;
    background-color: lightgray;
    border: 1px solid darkslategray;
    border-radius: 5px;
}

.colunasSelectEntradaViaNota
{
    width: 150px;
}

.painelAddQuantity Button {
    margin-top: 5%;
}

.PainelDePesquisa
{
    background-color: lightgray;
    padding: 15px;
    border: 1px solid darkslategray;
    border-radius: 5px;
    margin-left: 75%;
    margin-top: -3%;
}

.bordinhaSuave{
    padding: 15px;
    border: 1px solid lightcyan;
    border-radius: 5px;
}



#produtoAntigo{
    padding: 25px;
    background-color: 	#F0FFFF;
    border-radius: 10px;
    border: 1px solid darkgray
}


.alignCenter{
    text-align: center;
}

#pareceresSobreSaida{
    padding: 2px;
    border: 1px solid darkslategray;
    border-radius: 5px;
}

.container-fluid{
    background: #E0FFFF;
    padding: 25px;
    border-radius: 10px;
}

.caixadeBotoes{
    background-color: #E0FFFF ;
    padding: 25px;
    justify-content: space-between;
    display: flex; 
}


h4 {
    font-size: 36px;
    font-weight: 400;
}

.botaoTabela{
    margin-left: 1%;
    margin-right: 1%;
}


.modalEntradaProdutos{
    width: 800px;
}

.swal-wide{
    width: 900px;
}

.quantidadeAdd{
    margin-left: auto;
    margin-right: auto;
}

input { 
    text-align: center;
}


.swal-wid
{
    background-color: black;
}