.navBarTopo{
    width: 500px;
}
nav {
    width: 100%;
}
.navbar{
    width: 100%;
}

.botaoNavBar{
    color: white;
    opacity: 0.8;
    transition: all 0.4s;
}
.botaoNavBar:hover{
    color: white;
    opacity: 1;
    font-size: 17px;
    transition: all 0.4s;
}
.botaoNavBarTitle{
    color: white;
    opacity: 0.8;
    transition: all 0.2ms;
}
.botaoNavBarTitle:hover{
    color: white;
    opacity: 1;
    font-size: 20.5px;
    transition: all 0.2ms;
}

strong{
    color : white;
}