

.caixaDeBotoes:hover{
    transition: all 0.3s;
    text-decoration: none;
    color: darkslategray;
    box-shadow: 2px 1px 1px 1px darkslategray;
}
.caixaDeBotoes{
    text-decoration: none;
    transition: all 0.3s;
    color: black;
    border-radius: 10px;
}

#divDeBotoes{
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    padding: 35px;
    width: 100%;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
}

.card-title h5{
    text-decoration: none;
}

.divBotao{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    width: 100%;
}


#botaoProdutos{
    background-image: url("../../images/delivery-box.png");
    width: 128px;
    height: 128px;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
#botaoNotas{
    background-image: url("../../images/bill.png");
    width: 128px;
    height: 128px;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
#botaoVendas{
    background-image: url("../../images/goods.png");
    width: 128px;
    height: 128px;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.AlignItensCenterSide{
    display:"flex";
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1%;
}
.displayNoneGeral{
    display:none;
}

.message {
    border:2px solid #ccc;
    background:#fff;
    padding:10px;
    font-family:'Open Sans';
    width:250px;
    float:left;
    margin:4px;
    overflow:hidden;
    color: #333
}
.botao {
    border:1px solid lightblue;
    background: lightblue;
    color:#ffffff;
    font-family:'Open Sans';
    font-size:15px;
    font-weight:bold;
    padding:12px 28px;
    margin:4px 8px;
}

input[type="file"] {
    display: block;
}

.uploadChange {
    position:absolute;
    top:2px;
    left:0;
    opacity:0.01;
    border:none;
    width:200px;
    padding:10px;
    z-index:1;
    cursor:pointer
}



#screensOfFuncional{
    
}

#botaoFornecedores{
    background-image: url("../../images/service.png");
    width: 128px;
    height: 128px;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}



.sidebarAligment{
        height: 68em;
        max-height: 1000px;
}
#botaoRelatorios{
    background-image: url("../../images/diagram.png");
    width: 128px;
    height: 128px;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
#botaoMrsGringa{
    background-image: url("../../images/mrsgringa.png");
    width: 500px;
    height: 128px;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-right: 5%;
}