h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 300;
}




.linhaCarrousel{
    display: flex;
    padding : 10px;
    justify-content: space-between;
}
#containerProdutosEmAlta{
    overflow-x: auto;
}
.hoverImage{
    transition: linear 0.2s;
}

.hoverImage:hover{
    height: 137px;
    transition: linear 0.2s;
}
