h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 300;
}




.linhaCarrousel{
    display: flex;
    padding : 25px;
    justify-content: space-between;
}


.hoverImage{
    transition: linear 0.2s;
}

.hoverImage:hover{
    height: 233px;
    transition: linear 0.2s;
}
