.conteudoPrincipal{
    background-color: antiquewhite;
}

.displayNoneGeral {
    display: none;
}

.white{
    color : white;
    margin-left: 10%;
}
.white:hover{
    color : #C3C3C3;
    text-decoration: none;
    margin-left: 2%;
}

.linkToButton{
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.white{
    color : white;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.centerText{
    text-align: left;
}

span:focus
{
    opacity: 1;
}


.TESTEDECLASSE{
    background-color: #2b2b2b;
    width: 100%;
}

.fullSideBar{
    text-align: center;
    color: white;
}

.fullSideBar{
    height: 100%;
}

#botaoConfiguracoes{
    background-image: url("../images/settings.png");
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.whiteText:hover{
    color: white;
    font-size: 30px;
}


.whiteText{
    color: white;
    font-size: 30px;
}
.whiteTextForMenu{
    color: white;
    font-size: 12px;
}


.whiteTextMrsGringa{
    color: white;
    font-size: 24px;
    transition: all 0.3s;
}
.whiteTextMrsGringa:hover{
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s;
}

.linkToButton:hover{
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s;
}

.black
{
    color: black;
}