.conteudoPrincipal{
    background-color: antiquewhite;
}

.displayNoneGeral {
    display: none;
}

.white{
    color : white;
    margin-left: 10%;
}
.white:hover{
    color : #C3C3C3;
    text-decoration: none;
    margin-left: 2%;
}

.linkToButton{
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

#botaoConfiguracoes{
    background-image: url("../images/settings.png");
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.whiteText:hover{
    color: white;
    font-size: 30px;
}


.whiteText{
    color: white;
    font-size: 30px;
}

.whiteTextMrsGringa{
    color: white;
    font-size: 24px;
    transition: all 0.3s;
}
.whiteTextMrsGringa:hover{
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s;
}

.linkToButton:hover{
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s;
}

.black
{
    color: black;
}