#principalContent{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 10px;
    background-color: white;
    padding: 80px;
    border: 1px solid darkslategray;
}

#root{
    text-align: center;
    justify-content: center;
    align-items: center;
}