#principalContent{
 
}


#root{   
    margin:0 auto; 
    padding: 0;
    background-color: #ffebee; 
    background-image: url("./imgs/background.jpg");
    width: 100%;
    height: 100%;
}
body {
    background-color:white;
}

.ConteudoPrincipal{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

#containerLogin{
    background-color: #FFF5EE;
    padding: 25px;
    width: 100%;
    border: 1px solid lightsalmon;
    border-radius: 5px;
}

.displayNoneGeral{
    display:none;
}

#root{
    text-align: center;
    justify-content: center;
    align-items: center;
}